body {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(240, 16, 16, 0.1);
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}
#navbar {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 0.5rem 0.5rem rgba(240, 16, 16, 0.1);
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

#font-choice {
    font-size: 1.5em;
    font-weight: 300;
    color: #000;

    margin: 0;
    padding: 0;

    letter-spacing: 0.1em;
    line-height: 1.5em;
}

#font1 {
    font-family: sans-serif;
}

#font2 {
    font-family: "Times New Roman";
}

#font3 {
    font-family: "Verdana";
}

#font4 {
    font-family: "Arial";
}

#font5 {
    font-family: "Comic Sans MS";
}

#font6 {
    font-family: "Courier New";
}

#font7 {
    font-family: "Georgia";
}

#font8 {
    font-family: "Impact";
}

#font9 {
    font-family: "Lucida Console";
}

#font10 {
    font-family: "Tahoma";
}

#font11 {
    font-family: "Trebuchet MS";
}

#font12 {
    font-family: Verdana;
}

#font13 {
    font-family: "Calibri";
}

#font14 {
    font-family: "Helvetica";
}

#font15 {
    font-family: "Lucida Sans";
}

#save {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0.5rem 0;
}

.switch {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding-left: 100px;
    height: 30px;
    line-height: 40px;
    margin: 5px;
    font-size: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.switch input {
    display: none;
}

.switch__indicator::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #a69d9d;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-animation-name: pulsein;
    animation-name: pulsein;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
.switch__indicator::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 80px;
    height: 8px;
    background-color: #a69d9d;
    border-radius: 10px;
    transition: all 0.3s ease;
}
input:checked + .switch__indicator::after {
    background-color: #000;
    transform: translateX(40px);
    -webkit-animation-name: pulseout;
    animation-name: pulseout;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
}
input:checked + .switch__indicator::before {
    background-color: #000;
}

@-webkit-keyframes pulsein {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}

@keyframes pulsein {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}
@-webkit-keyframes pulseout {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}
@keyframes pulseout {
    0%,
    100% {
        top: 0px;
        height: 40px;
        width: 40px;
    }
    50% {
        top: 6px;
        height: 28px;
        width: 52px;
    }
}
