body {
  width: 20rem;
  height: 20rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  padding: 1rem;

  min-width: 300px;
  min-height: 805px;
  overflow: scroll;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Nunito", sans-serif;

  color: #000;
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

h2 {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 12px;
  text-align: center;
}

h3 {
  color: #161101;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 24px;
  margin: 0 6 6px;
  text-align: justify;
  text-justify: inter-word;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.description {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}

.login {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}

#login {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;

  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button {
  display: inline-block;
  margin: 10;
  padding: 0.25rem 1rem;
  border: 0;
  border-radius: 0.317rem;
  background-color: rgb(86, 86, 86);
  color: rgb(255, 241, 241);
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
  cursor: pointer;
  /* -webkit-appearance: none; */
  -webkit-font-smoothing: antialiased;
}

button:hover {
  opacity: 0.85;
}

button:active {
  box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

button:focus {
  outline: thin dotted #444;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

footer{
  opacity: 0.85;
}
