body {
    /* width: 20rem;
    height: 20rem; */
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Nunito", sans-serif;

    color: #000;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.description {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: center;
}

.login {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: center;
}

#login {
    font-size: 1rem;
    margin: 0.5rem 0;
    text-align: center;

    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button {
  
  
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 2px;
  min-width: 80px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  color: rgb(50, 49, 48);
  font-weight: 400;
  box-sizing: border-box;
  border: 2px solid #e7e7e7;
  margin: 2rem;
  transition-duration: 0.4s;
  font-size: 16px;
}

button:hover {
  background-color: black;
  color:#fff;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

